body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

#minesweeper-board {
  display: grid;
  gap: 0px;
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
}

.undugged-cell {
  background-color: #776e6e7e;
  cursor: pointer;
}

.dugged-cell {
  background-color: #ffffff;
  cursor: default;
}

.bomb-cell {
  background-color: rgb(210, 75, 75);
  cursor: default;
}

.hidden {
  display: none;
}
